---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog")
const PageTitle = "私のAstro学習ブログ"
---

<BaseLayout pageTitle={PageTitle}>
    <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
    {allPosts.map((post) => (
        <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
    ))}
</BaseLayout>