---
import type { Post } from "../types/post.ts";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Object.values(
    import.meta.glob<Post>("../pages/posts/*.md", { eager: true })
) as Post[];
const PageTitle = "私のAstro学習ブログ"
---

<BaseLayout pageTitle={PageTitle}>
    <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}></BlogPost>)}
    </ul>
</BaseLayout>