---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>私のすばらしいブログのサブタイトル</h2>
    <Greeting client:load messages={["どうも", "こんにちは", "はじめまして", "ようこそ"]} />
</BaseLayout>